.App {
  text-align: center;
}


.singleitem{
  border: 1px solid red;
  align-items: center;
  justify-content: center;
  padding: 5px;
  line-height: 10px;
}

.items{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
}